@import '../variables';

#root {
  .about {
    border: 1px solid #dce0e0;
    height: 100%;
    width: 100%;
    background-color: white;

    .content {
      font-size: 90%;
      font-family: "lato", sans-serif;
    }
  }
}