@import 'variables';

$dark-gray: #4d4d4d;

#root {
  .error {
    border-radius: 4px;
    background-color: #f5d3ce;
    border: 1px solid #eb5a46;
    width: 25%;
    margin: 0 auto;

    font-family: "lato", sans-serif;
    color: $dark-gray;
    font-size: 75%;
    padding: 0.25em 0em;
  }
  .valid {
  }

  form.landing-form {

    p {
      font-size: 1.25em;
      font-family: "lato", sans-serif;
      font-weight: 700;
      color: $dark-gray;
      margin-bottom: 10px;
    }

    div {
      input {
        display: inline;
      }

      .username {
        margin-bottom: 0.2em;
        margin: 0.2em auto;
      }
      .password {
        margin-bottom: 0.4em;
        margin: 0.2em auto;
      }

      .email {
        margin: 0.2em auto;
      }
    }

    button {
      margin-top: 0.6em;
    }

    .register {
      background-color: #7ab2d3;
    }
  }


  #landing {
    text-align: center;
    background-color: white !important;

    section.header {
      background-color: white;
      padding: 2em 0;
      #primary-text {
        display: inline-block;
        max-width: 90%;
        margin: 0 auto;

        font-family: "lato", sans-serif;
        color: $dark-gray;

        img {
          cursor: pointer;
        }


        h2 {
          color: $dark-gray;
          margin: 0.5em;
          margin-bottom: 1em;
          font-weight: 700;
        }
        p {
          max-width: 25em;
        }
      }

      div {
        a {
          cursor: pointer;
          color: $dark-gray;
          text-decoration: underline;
        }
      }
    }

    section.enter {
      h1 {
        color: #4d4d4d;
      }

      padding-top: 1em;
      padding-bottom: 3em;
      width: 100%;
      margin: 0 auto;
      div {
        a {
          cursor: pointer;
          color: $dark-gray;
          text-decoration: underline;
        }
      }

    }
  }

}
