@import 'variables';

#root {
   div.header {
    width: 100%;
    background: white;
    height: auto;
     font-family: "lato", sans-serif;
    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
    -webkit-align-items: baseline;
    align-items: baseline;

    border-bottom: 1px solid #dce0e0;

    .logo {
      a {
        text-decoration: none;
      }
      margin-left: 1em;
      margin-top: 1em;
      margin-bottom: 1em;
      cursor: pointer;
      width: 5em;
    }

    .nav-links {
      margin-left: 50%;
      width: 100%;
      display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
      display: -ms-flexbox;  /* TWEENER - IE 10 */
      display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
      display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
      a {
        text-decoration: none;
        float: right;
        margin: 0 1em;
        font-size: 100%;
        color: $nav-link-color;
        cursor: pointer;
        transition: color .1s ease-in-out;
        -moz-transition: color .1s ease-in-out;
        -webkit-transition: color .1s ease-in-out;
      }
      a:hover {
        color: $nav-link-hover-color;
      }
    }
  }

}