@import "LandingHeader";
@import "landing/About";
@import "Landing";
@import "DashboardHeader";
@import "Preprocess";

#root {
  html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  *, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
  }

  body {
    margin: 0px;
    padding: 0px;
    background-color: whitesmoke;
    height: 100%;
    -webkit-text-size-adjust: none;
  }
}

